* {
    background-color: darkgray;     
}
/* - FUNDO - */ 
.fundo h2 { 
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.fundo h4 { 
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
}

/* - FORMULARIO - */
.formBoleto {
    
    display: -moz-grid;    
    width: 75vw;
    margin: 0 auto;   
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5px;
    padding: 5vw;      
    box-shadow: 5px 3px 3px gray, -5px -3px 3px gray;
}

.formBoleto h2 {
    color: white;
    font-size: 22px;
    padding: 5px;
    height: 4vh;
    border-radius: 5px;    
    box-shadow: 0px 2px #70B5C0;
}

.formBoleto h4 {
    color: white;        
    border-radius: 5px;    
    margin-left: 5px;
    box-shadow: 0px 2px #70B5C0;
}


.formBoleto span {
    border: 1px inset; 
    color: black;
    border-radius: 5px;
    width: 15vw;
    background-color: lightgray;

    font-size: 11px;
}

.formBoleto select {
    font-size: 11px;    
}


.formBoleto option {
    font-size: 11px;
    color: white;
}

.formBoleto input {        
    margin-top: 2px;    
    border: 1px solid; 
    border-color: rgb(112, 180, 225);
    border-radius: 5px;    
    font-size: 10px;
}

.formBoleto textarea {
    font-size:11px;
    margin-top: 5px;
}


.detalhe-carteira {
    display: flex;
} 

.detalhe-carteira div {    
    width: 25vw;
}

.taxas {
    display: block;
} 

.taxas div {    
    width: 30vw;    
} 

.nossonumero {
    margin-top: 10px;
    display: block;
}

.nossonumero div {    
    width: 30vw;
}

/* - NOTIFICACOES - */
.alert {        
    width: 50vw;
    height: 10vh;
    margin: 0 auto;
    opacity: 0;     
    background-color: rgb(84, 32, 32);    
}

.alert h6 {
    color: white; 
    font-size: 11px;
    background-color: transparent;    
}

.alert div {    
    position: absolute;
    width: 15px;
    right: -7px;
    top: -10px;
    text-align: center;
    opacity: 1;
    line-height: 15px;
    margin-top: 5px;
    background: white;    
    border-radius: 50%;
    font-size: 16px;
    color: lightcoral ;
}
