* {
    background-color:darkgray;
}

.divLogin {    
    border: 1px solid;
    border-color: black;        
    display: grid;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
    /* margin-top: calc(50vh / 2); */
    width: 30vw;
    height: 45vh;
    border-radius: 10px;        
    justify-content: center;
    box-shadow: 5px 2px 2px black;
    background-color: gray;

}

.fundo {
    align-items: center;
    padding: 10vw;
    margin: 0 auto;
    margin-top: calc(50vh / 2);
    width: 100vw;
    height: 100vh;        
}

.divLogin h5 {
    color: white;
    background-color: transparent;   
    text-align: center;     
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.btnAuth {
    border-radius: 6px;
    margin-top: 30px;
    color: lightskyblue;
    background-color: transparent;       
}

.alert {
    position: relative;
    width: 30vw;
    height: 10vh;
    margin: 0 auto;
    opacity: 0; 
    margin-top: calc(50vh / 2);    
    background-color: rgb(84, 32, 32);    
}

.alert h2 {
    color: white; 
    font-size: 11px;
    background-color: transparent;       
}

.alert div {    
    position: absolute;
    width: 15px;
    right: -7px;
    top: -10px;
    text-align: center;
    opacity: 1;
    line-height: 15px;
    margin-top: 5px;
    background: white;    
    border-radius: 50%;
    font-size: 16px;
    color: lightcoral ;
}
